.login-form{
  max-width: 400px;
  margin: auto;
  width: 100%;
  padding: 45px;
  background: #fff;
}
::ng-deep app-root,
::ng-deep app-signin{
  height: 100%;
  display: block;
}
::ng-deep app-signin{
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #f3f3f3;
}
