<div class="d-flex gap-4 login-form">
  <div class="logo">
    <img src="../../assets/images/commune.png" alt="">
  </div>
  <div class="d-flex flex-column gap-5 mx-350">
    <h1 class="text-white">e-gouvernance</h1>
    <div class="form-content position-relative">

      <div class="profile">
        <img src="../../assets/images/profile.png" alt="">
      </div>
      <h2 class="mb-4">Connexion</h2>
      <form ngForm (submit)="onSubmit();" class="d-flex flex-column mb-4">
        <mat-form-field>
          <span class="ico user"></span>
          <mat-label>

            Identifiant
          </mat-label>
          <input matInput type="text" name="nom" id="nom" class="inp-control" placeholder="Pseudo de connexion" [(ngModel)]="email" style="color: black">
        </mat-form-field>
        <mat-form-field>
          <span class="ico passe"></span>
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" name="pass" id="pass" class="inp-control" placeholder="Mot de passe" [(ngModel)]="password" style="color: black">
        </mat-form-field>
        <button mat-raised-button color="primary" class="d-block" type="submit">
        <span class="d-flex align-items-center justify-content-center">
           Se connecter
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" class="ms-1">
            <rect opacity="0.3" x="8.5" y="11" width="12" height="2" rx="1" fill="#fff"/>
            <path d="M10.3687 11.6927L12.1244 10.2297C12.5946 9.83785 12.6268 9.12683 12.194 8.69401C11.8043 8.3043 11.1784 8.28591 10.7664 8.65206L7.84084 11.2526C7.39332 11.6504 7.39332 12.3496 7.84084 12.7474L10.7664 15.3479C11.1784 15.7141 11.8043 15.6957 12.194 15.306C12.6268 14.8732 12.5946 14.1621 12.1244 13.7703L10.3687 12.3073C10.1768 12.1474 10.1768 11.8526 10.3687 11.6927Z" fill="#fff"/>
            <path opacity="0.5" d="M16 5V6C16 6.55228 15.5523 7 15 7C14.4477 7 14 6.55228 14 6C14 5.44772 13.5523 5 13 5H6C5.44771 5 5 5.44772 5 6V18C5 18.5523 5.44771 19 6 19H13C13.5523 19 14 18.5523 14 18C14 17.4477 14.4477 17 15 17C15.5523 17 16 17.4477 16 18V19C16 20.1046 15.1046 21 14 21H5C3.89543 21 3 20.1046 3 19V5C3 3.89543 3.89543 3 5 3H14C15.1046 3 16 3.89543 16 5Z" fill="#fff"/>
          </svg>
        </span>


        </button>
      </form>
      <a class="btn btn-default" href="/signup">
        S'inscrire
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16" class="ms-1">
          <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Zm-2-6a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z" fill="#fff"/>
          <path d="M2 13c0 1 1 1 1 1h5.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.544-3.393C9.077 9.038 8.564 9 8 9c-5 0-6 3-6 4Z" fill="#fff"/>
        </svg>
      </a>
    </div>
  </div>

</div>
