::ng-deep html, body {
  height: 100%;
}
::ng-deep mat-form-field .ico.passe{
  background: #e6e6e6 url("../assets/images/locks.svg") no-repeat center;
  background-size: contain;
}
::ng-deep mat-form-field .ico{
  display: block;
  width: 45px;
  height: 100%;
  background-color: red;
  position: absolute;
  top: 0;
  left: -49px;
}
::ng-deep mat-form-field .ico.user{
  background: #e6e6e6 url("../assets/images/utilisateur.svg") no-repeat center;
  background-size: 25px;
}
::ng-deep mat-form-field .ico.mail{
  background: #e6e6e6 url("../assets/images/email.svg") no-repeat center;
  background-size: 17px;
}
::ng-deep mat-form-field .ico.phone{
  background: #e6e6e6 url("../assets/images/phone.svg") no-repeat center;
  background-size: 17px;
}
::ng-deep mat-form-field .ico.pin{
  background: #e6e6e6 url("../assets/images/pin.svg") no-repeat center;
  background-size: 17px;
}
::ng-deep .mat-mdc-form-field-icon-suffix{
  position: absolute!important;
  left: 0;
  background: #e6e6e6;
  width: 40px;
}
::ng-deep .mat-mdc-form-field-icon-suffix .mat-mdc-icon-button{
  padding-left: 0;
}
::ng-deep .mat-mdc-form-field-icon-suffix .mat-mdc-icon-button svg{
  fill: #545454!important;
}
::ng-deep .form-content{
  background-color: #fff;
  max-width: 300px;
  width: 100%;
  padding: 25px;
  border-radius: 35px;
}
::ng-deep .form-content mat-form-field .mat-mdc-text-field-wrapper{
  padding-left: 3rem;
}
::ng-deep .ng-trigger{
  background-color: #fff!important;
  color: black;

}
::ng-deep .ng-trigger mat-option span{
  color: #000000;

}
::ng-deep .ms-1{
  margin-left: 10px;
}
::ng-deep .me-1{
  margin-right: 10px;
}
::ng-deep .btn-default{
  padding: 6px 15px;
  text-align: center;
  background: #564474;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}
::ng-deep .mat-mdc-raised-button:not(:disabled){
  background-color: #564474!important;
}
::ng-deep h1,::ng-deep h2{
  text-align: center;
  font-weight: bold!important;
  font-size: 36px!important;
}
::ng-deep .align-items-center{
  align-items: center!important;
}
::ng-deep .align-items-start{
  align-items: start!important;
}
::ng-deep .align-items-end{
  align-items: end!important;
}
::ng-deep .justify-content-end{
  justify-content: end!important;
}
::ng-deep .justify-content-start{
  justify-content: start!important;
}
::ng-deep .justify-content-center{
  justify-content: center!important;
}
::ng-deep .justify-content-between{
  justify-content: space-between!important;
}
::ng-deep mat-form-field .mat-mdc-text-field-wrapper {
  background-color: #cccccc!important;
}
::ng-deep .d-flex{
  display: flex!important;
}
::ng-deep .d-table{
  display: table!important;
}
::ng-deep .d-block{
  display: block!important;
}
::ng-deep .d-none{
  display: none!important;
}
::ng-deep .red{
  background-color: red;
}
::ng-deep .flex-row{
  flex-direction: row!important;
}
::ng-deep .flex-row-revers{
  flex-direction: row-reverse!important;
}
::ng-deep .flex-column-revers{
  flex-direction: column-reverse!important;
}
::ng-deep .flex-column{
  flex-direction: column!important;
}
::ng-deep .gap-4{
  gap: 1rem!important;
}
::ng-deep .p-0{
  padding: 0!important;
}
::ng-deep .p-4{
  padding: 1rem!important;
}
::ng-deep .px-4{
  padding: 0 1rem!important;
}
::ng-deep .py-4{
  padding: 1rem 0!important;
}
::ng-deep .text-center{
  text-align: center;
}
::ng-deep .text-end{
  text-align: end!important;
}
::ng-deep .text-start{
  text-align: start!important;
}
::ng-deep .text-black{
  color: #000000!important;
}
::ng-deep mat-label{
  color: #000000;
}
::ng-deep .form-file{
  overflow: hidden;
}
::ng-deep .mb-0{
  margin-bottom: 0!important;
}
::ng-deep .mb-4{
  margin-bottom: 1rem!important;
}
::ng-deep .form-file label{
  background-color: #e9e9e9;
  padding: 9px;
  width: 100%;
  display: flex;

  min-height: 36px;

}
::ng-deep .content span{
  border: #bbbbbb 2px solid;
  display: flex;
  align-items: center;
  padding: 0 27px;
  min-width: 55px;
}
::ng-deep .mat-calendar-table th,
::ng-deep .mat-calendar-table td,
::ng-deep .mat-calendar-table td button{
  color: #000000!important;
}
::ng-deep mat-calendar-header .mdc-button,
::ng-deep .mat-calendar-arrow,
::ng-deep .mat-calendar-body-cell-content,
::ng-deep .mat-date-range-input-separator{
  color: #000000!important;
  fill: #000!important;
}
::ng-deep .mat-datepicker-toggle svg{
  fill: #333!important;
}
::ng-deep .ng-trigger{
  background-color: #e5e5e5!important;
}
::ng-deep .mat-calendar-controls button:after{
  border-color: #333!important;
}
::ng-deep .mat-mdc-form-field-infix{

  padding-top: 18px!important;
  min-height: 30px;
  height: 40px;

}
::ng-deep .mdc-text-field--filled .mdc-floating-label{
  top: 20px!important;
}
::ng-deep .mat-mdc-text-field-wrapper{
  height: 40px;
}
::ng-deep .toolbar .logo{
  display: flex;
  align-items: center;
}
::ng-deep .toolbar .logo img{
  max-height: 110px;
}

/*Menu*/
::ng-deep .wrap-sidebar-nav .sidebare-page .toolbar {
  background-color: #375ca2;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 0rem; }
::ng-deep .nav-menu{
  display: flex;
  justify-content: space-between;
}
::ng-deep .wrap-sidebar-nav .sidebare-page .toolbar .list-menu{
  max-width: 1200px;
  margin: auto;

}
