<div class="wrap-sidebar-nav">

  <div class="sidebare-page">
    <div class="toolbar">
      <div class="nav-menu ">
        <div class="logo">
          <img src="../../assets/images/commune.png" alt="">
          <span class="text-white">e-gouvernance</span>
        </div>
        <mat-list role="list">
          <mat-list-item role="listitem" class="text-black" (click)="logout()">
            <div class="d-flex align-items-center gap-4">
              <svg width="20px" height="25px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none">
                <path stroke="#5c8eff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M20 12h-9.5m7.5 3l3-3-3-3m-5-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2h5a2 2 0 002-2v-1"/>
              </svg>
              Deconnexion
            </div>
          </mat-list-item>
        </mat-list>
      </div>
      <mat-list role="list" class="list-menu d-flex">
        <mat-list-item role="listitem" class="text-black" (click)="homePage()">
          <div class="d-flex align-items-center gap-4">
            <svg fill="#5c8eff" height="15px" width="15px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 0 27.963 27.963" xml:space="preserve">
            <g>
              <g id="c140__x2B_">
                <path d="M13.98,0C6.259,0,0,6.26,0,13.982s6.259,13.981,13.98,13.981c7.725,0,13.983-6.26,13.983-13.981
                  C27.963,6.26,21.705,0,13.98,0z M21.102,16.059h-4.939v5.042h-4.299v-5.042H6.862V11.76h5.001v-4.9h4.299v4.9h4.939v4.299H21.102z
                  "/>
              </g>
              <g id="Capa_1_9_">
              </g>
            </g>
          </svg>
            Actualités
          </div>
        </mat-list-item>
        <mat-list-item role="listitem" class="text-black" (click)="demande()">
          <div class="d-flex align-items-center gap-4">
            <svg fill="#5c8eff" height="15px" width="15px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 0 27.963 27.963" xml:space="preserve">
            <g>
              <g id="c140__x2B_">
                <path d="M13.98,0C6.259,0,0,6.26,0,13.982s6.259,13.981,13.98,13.981c7.725,0,13.983-6.26,13.983-13.981
                  C27.963,6.26,21.705,0,13.98,0z M21.102,16.059h-4.939v5.042h-4.299v-5.042H6.862V11.76h5.001v-4.9h4.299v4.9h4.939v4.299H21.102z
                  "/>
              </g>
              <g id="Capa_1_9_">
              </g>
            </g>
          </svg>
            Demandes
          </div>
        </mat-list-item>
        <mat-list-item role="listitem" class="text-black" (click)="information()">
          <div class="d-flex align-items-center gap-4">
            <svg fill="#5c8eff" height="15px" width="15px" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg"
                 xmlns:xlink="http://www.w3.org/1999/xlink"
                 viewBox="0 0 27.963 27.963" xml:space="preserve">
            <g>
              <g id="c140__x2B_">
                <path d="M13.98,0C6.259,0,0,6.26,0,13.982s6.259,13.981,13.98,13.981c7.725,0,13.983-6.26,13.983-13.981
                  C27.963,6.26,21.705,0,13.98,0z M21.102,16.059h-4.939v5.042h-4.299v-5.042H6.862V11.76h5.001v-4.9h4.299v4.9h4.939v4.299H21.102z
                  "/>
              </g>
              <g id="Capa_1_9_">
              </g>
            </g>
          </svg>
            Informations
          </div>
        </mat-list-item>
      </mat-list>

    </div>
    <div class="content-page-sidebare">
      <div cdkDropListGroup class="d-flex gap-4 justify-content-between">

        <mat-card class="bg-white p-4">
          <mat-card-header>
            <mat-card-title>> Demandes</mat-card-title>
          </mat-card-header>

          <!--          <div *ngFor="let item of news">-->
          <mat-card-content class="example-container" (click)="openCreateDemandeModal()">
            <!--interne-->
            <div>
              <mat-card class="bg-white mat-card-interne w-100 example-box">
                <mat-card-header class="w-100 mb-4">
                  <mat-card-title>
                    <!--                      {{item.title}}-->
                    CIN
                  </mat-card-title>
                  <mat-card-subtitle>
                    <div class="avatar d-flex align-items-start ">
                      <div class="d-flex align-items-center gap-4">
                        <p class="mb-0">
                            <span class="d-block text-black">
<!--                              {{item.description}}-->
                              Description
                            </span>
                        </p>
                        <div class="img">
                          <img src="../../assets/images/profile.jpg" alt="">
                        </div>

                      </div>
                    </div>
                  </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                  <div class="drag-here">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                         alt="Photo of a Shiba Inu">
                  </div>
                </mat-card-content>
                <mat-card-actions class="d-flex align-items-center justify-content-center p-4">
                  <button mat-button>
                    <!--                      {{item.creationDateTime}}-->
                    Creation Date Time
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
          </mat-card-content>
          <!--          </div>-->



          <!--          <div *ngFor="let item of news">-->
          <mat-card-content class="example-container">
            <!--interne-->
            <div>
              <mat-card class="bg-white mat-card-interne w-100 example-box">
                <mat-card-header class="w-100 mb-4">
                  <mat-card-title>
                    <!--                      {{item.title}}-->
                    Act de naissance
                  </mat-card-title>
                  <mat-card-subtitle>
                    <div class="avatar d-flex align-items-start ">
                      <div class="d-flex align-items-center gap-4">
                        <p class="mb-0">
                            <span class="d-block text-black">
<!--                              {{item.description}}-->
                              Description
                            </span>
                        </p>
                        <div class="img">
                          <img src="../../assets/images/profile.jpg" alt="">
                        </div>

                      </div>
                    </div>
                  </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                  <div class="drag-here">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                         alt="Photo of a Shiba Inu">
                  </div>
                </mat-card-content>
                <mat-card-actions class="d-flex align-items-center justify-content-center p-4">
                  <button mat-button>
                    <!--                      {{item.creationDateTime}}-->
                    Creation Date Time
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
          </mat-card-content>
          <!--          </div>-->

          <!--          <div *ngFor="let item of news">-->
          <mat-card-content class="example-container">
            <!--interne-->
            <div>
              <mat-card class="bg-white mat-card-interne w-100 example-box">
                <mat-card-header class="w-100 mb-4">
                  <mat-card-title>
                    <!--                      {{item.title}}-->
                    Certificat de résidence
                  </mat-card-title>
                  <mat-card-subtitle>
                    <div class="avatar d-flex align-items-start ">
                      <div class="d-flex align-items-center gap-4">
                        <p class="mb-0">
                            <span class="d-block text-black">
<!--                              {{item.description}}-->
                              Description
                            </span>
                        </p>
                        <div class="img">
                          <img src="../../assets/images/profile.jpg" alt="">
                        </div>

                      </div>
                    </div>
                  </mat-card-subtitle>
                </mat-card-header>

                <mat-card-content>
                  <div class="drag-here">
                    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg"
                         alt="Photo of a Shiba Inu">
                  </div>
                </mat-card-content>
                <mat-card-actions class="d-flex align-items-center justify-content-center p-4">
                  <button mat-button>
                    <!--                      {{item.creationDateTime}}-->
                    Creation Date Time
                  </button>
                </mat-card-actions>
              </mat-card>
            </div>
          </mat-card-content>
          <!--          </div>-->

        </mat-card>
      </div>
    </div>
  </div>
</div>
